.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
src/RcppExports.o
src/dcca.o
src/detrend_cov.o
src/dfa.cpp
src/dfa.o
src/dlcca.o
src/fractalRegression.dll
src/fractalRegression.so
src/lm_c.o
src/lm_c2.o
src/mfdfa.o
src/mlra.o
src/mra.o
src/polyDetrend.o
src/poly_residuals.o
src/seg_int.o

